/* 
    Document   : show_page
    Created on : 10 Dec, 2012, 7:41:28 PM
    Author     : sumit
    Description:
        Purpose of the stylesheet follows
*/
@import url(http://fonts.googleapis.com/css?family=Fjord+One);

root { 
    display: block;
}

body{
    margin: 0;
    padding: 0;
    min-width: 1100px;
    display: block;
    background-color: #E8F6FD;
    font-size: medium;
    font-family: 'Fjord One', serif;
}

.container{
    display: inline-block;
    float: left;
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; 
}

header{
    display: inline-block;
    width: 100%;
    z-index: 999;
}

#black_header{
    display: inline-block;
    margin-top: -5px;
    width: 100%;
    height: 15px;
    background-color: #4D4D4D;
}

#blue_header{
    display: inline-block;
    float: left;
    margin-top: -5px;
    width: 100%;
    height: 70px;
    background-color: #16A2EB;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#blue_header_left{
    display: inline-block;
    float: left;
}

#html_body{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.container_block{
    display: inline-block;
    margin : 25px;
    width: 95%;
}


article{
    display: inline-block;
    width: 100%;
    float: left;
}

footer{
    display: inline-block;
    width: 100%;
    float: left;
}

.div{
    display: inline-block;
    width: 100%;
    float: left;
}

#footer_left{
    display: inline-block;
    height: 100%;
    float: left;
}

#footer_right{
    display: inline-block;
    height: 100%;
    float: right;
}

a{
    text-decoration: none;
    color: #16A2EB;
}

a:hover{
    cursor: pointer;
    color:  #09415E;
}

input: checked + label {
    color: white;
    background-color: green;
}

input: hover + label {
    color: white;
    background-color: green;
}